// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom StyleSheets
@import 'navbar';


html {
    scroll-behavior: smooth;
}

body {
    padding-bottom: 50px;
}

.container {
    padding-top: 100px;

    h1 {
        border-bottom: 1px solid $gray-400;
    }

    h5 {
        font-weight: bold;
        color: $primary;
        margin-top: 25px;
    }

    h6 {
        text-decoration: underline;
    }

    .form-control {
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .badge {
        padding: 0.4rem;
    }

    pre {
        border: 1px solid $primary;
        background-color: $gray-200;
        border-radius: 8px;
    }

    p {
        margin-bottom: 0 !important;
    }
}
